@model IEnumerable<StudentGymKOI.Models.GymClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Gym Staff"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxMembers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMembers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.GymClasses) {
        <tr>
            <td>
                @item.ClassName
            </td>
            <td>
                @item.MaxMembers
            </td>
            <td>
                    @item.CurrentMembers
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Gym Staff"))
                    {
                        
                         <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if (User.IsInRole("Member"))

                    {
                        bool joined = false;

                        foreach (var userGymClass in ViewBag.UserGymClasses)
                        {
                            if (userGymClass.Id == item.Id)
                            {
                                joined = true;
                                break;
                            }
                        }

                        if (joined)
                        {
                            <span>Joined (</span>
                            <a class="text-danger" asp-controller="UserGymClasses" asp-action="LeaveGymClass" asp-route-gymClassID="@item.Id">Leave</a>
                            <span>)</span>
                        }
                        else
                        {
                            if (item.CurrentMembers < item.MaxMembers)
                            {
                                
                                <a asp-controller="UserGymClasses" asp-action="JoinGymClass" asp-route-gymClassID="@item.Id">Join</a>
                            }
                            else
                            {
                                <span>Class Full</span>
                            }
                        }

                        
                    }




            </td>
        </tr>
}
    </tbody>
</table>
