@model IEnumerable<StudentGymKOI.Models.Membership>


@{
    ViewData["Title"] = "Memberships";
}



<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Memberships</h1>
    @if (User.IsInRole("Gym Staff"))
    {
        <p class="fs-5 text-body-secondary">

            <a type="button" class="btn btn-primary" asp-action="Create">Create New Membership</a>
        </p>
    }
   
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    @foreach (var item in ViewBag.Memberships)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal"> @item.MemberShipName</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$@item.Price</h1>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        
                        @if (User.IsInRole("Gym Staff"))
                        {

                            <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MembershipID">Edit</a>
                            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MembershipID">Delete</a>
                        }
                        @if (User.IsInRole("Member"))
                        {
                            @if (ViewBag.UserMembership == null || ViewBag.UserMembership.MemberShipName != item.MemberShipName)
                            {
                                <a type="button" class="btn btn-success" asp-controller="UserMembership" asp-action="JoinMembership" asp-route-membershipID="@item.MembershipID">Join</a>
                            }
                            else
                            {

                                <a type="button" class="btn btn-danger" asp-controller="UserMembership" asp-action="LeaveMembership" asp-route-membershipID="@item.MembershipID">Leave</a>
                                <a type="button" class="btn btn-info disabled">Joined</a>
                                
                            }

                    }
                     
                    </div>
                    
                   
                </div>
            </div>
        </div>
       
    }
    
    

</div>
